.dateChooser_blank{

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	
}

.dateChooser_dayLabel{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	FONT-SIZE: 10px; 
	PADDING-BOTTOM: 3px; 
	MARGIN: 0px; 
	PADDING-TOP: 3px;	
	
}

.dateChooser_dateTable{
	border-left:ridge #7EBEFE 1px;
	border-right:ridge #7EBEFE 2px;
	border-bottom:ridge #7EBEFE 2px;
	border-top:ridge #7EBEFE 1px;
	BACKGROUND-COLOR: #FFFFFF;

}

.dateChooser_date{
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	FONT-SIZE: 10px; 
	PADDING-BOTTOM: 3px; 
	MARGIN: 0px; 
	PADDING-TOP: 3px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	CURSOR: hand;
	
}

.dateChooser_dayLabelHoliday{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	FONT-SIZE: 10px; 
	PADDING-BOTTOM: 3px; 
	MARGIN: 0px; 
	PADDING-TOP: 3px;
	color: #FF0000;
	
	
}

.dateChooser_dateHoliday{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	FONT-SIZE: 10px; 
	PADDING-BOTTOM: 3px; 
	MARGIN: 0px; 
	PADDING-TOP: 3px;
	COLOR: #FF0000;
	CURSOR: hand;
}

.dateChooser_bottomCell{
	BACKGROUND-COLOR: #CAE4FF;
	FONT-SIZE: 10px; 
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 2px; 
	PADDING-BOTTOM: 2px; 
	PADDING-TOP: 2px; 		
	TEXT-ALIGN: center;
	HEIGHT:17px;
}
.dateChooser_navigation{
	BACKGROUND-COLOR:#317082;
}

.dateChooser_monthSelect{

}
.dateChooser_monthSelectDIV{

}

.dateChooser_monthSelectData{
	BORDER-RIGHT: #aaaaaa 1px solid; 
	BORDER-TOP: #aaaaaa 1px solid; 	
	Z-INDEX: 1000; 
	LEFT: 0px; 
	BORDER-LEFT: #aaaaaa 1px solid; 
	COLOR: #317082; 
	BORDER-BOTTOM: #aaaaaa 1px solid; 	
	BACKGROUND-COLOR: #e2ebed;
	FONT-SIZE: 11px; 
}

.dateChooser_yearSelectData{
	BORDER-RIGHT: #aaaaaa 1px solid; 
	BORDER-TOP: #aaaaaa 1px solid; 	
	Z-INDEX: 1000; 
	LEFT: 0px; 
	BORDER-LEFT: #aaaaaa 1px solid; 
	COLOR: #317082; 
	BORDER-BOTTOM: #aaaaaa 1px solid; 	
	BACKGROUND-COLOR: #e2ebed;
	FONT-SIZE: 11px; 
}

.dateChooser_month{
	BORDER-RIGHT: #e2ebed 1px solid;
	BORDER-TOP: #e2ebed 1px solid;
	BORDER-LEFT: #e2ebed 1px solid;
	COLOR: #e2ebed;
	BORDER-BOTTOM: #e2ebed 1px solid;
	FONT-SIZE: 11px; 
	ALIGN: center;	
}

.dateChooser_year{
	BORDER-RIGHT: #e2ebed 1px solid;
	BORDER-TOP: #e2ebed 1px solid;
	BORDER-LEFT: #e2ebed 1px solid;
	COLOR: #e2ebed;
	BORDER-BOTTOM: #e2ebed 1px solid;
	FONT-SIZE: 11px;	
	ALIGN: center;	
}

.dateChooser_selectedDate{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	FONT-SIZE: 10px; 
	PADDING-BOTTOM: 3px; 
	MARGIN: 0px; 
	PADDING-TOP: 3px;
	color: #0000FF;
	BORDER-RIGHT: #CAE4FF 1px solid;
	BORDER-TOP: #CAE4FF 1px solid;
	BORDER-LEFT: #CAE4FF 1px solid;
	BORDER-BOTTOM: #CAE4FF 1px solid;
}